//colors
$white:     #ffffff;
$black:     #000000;

//viewport sizes
$screen-large-big: 1780px;
$screen-large-medium: 1600px;
$screen-large: 1380px;
$screen-medium-big: 1280px;
$screen-medium: 1200px;
$screen-tablet-landscape: 1024px;
$screen-tablet-landscape-medium: 992px;
$screen-tablet-portrait: 768px;
$screen-mobile-l: 500px;
$screen-mobile-m: 414px;
$screen-mobile-p: 360px;